# app
NODE_ENV=development
PORT=5010
CORS_ORIGINS=
APP_LOGO= 


# database
DATABASE_URL=

# jwt configs
JWT_ACCESS_TOKEN_SECRET= 
JWT_REFRESH_TOKEN_SECRET= 
JWT_ACCESS_TOKEN_EXPIRE=
JWT_REFRESH_TOKEN_EXPIRE= 

# Stripe secrets
STRIPE_PUBLISH_KEY= 
STRIPE_SECRET_KEY= 
SUCCESS_URL= 
CANCEL_URL= 

# score badges
BADGE_1_URL= 
BADGE_2_URL= 
BADGE_3_URL= 
BADGE_4_URL= 

# certificate slogan image url
SLOGAN_IMAGE_URL= 

# logo image url
LOGO_URL= 

# signature images
CEO_SIGNATURE_URL= 
CAO_SIGNATURE_URL= 


# Firebase credentials
FIREBASE_API_KEY= 
FIREBASE_AUTH_DOMAIN= 
FIREBASE_PROJECT_ID= 
FIREBASE_STORAGE_BUCKET= 
FIREBASE_MESSAGE_SENDER_ID= 
FIREBASE_APP_ID= 
FIREBASE_MEASUREMENT_ID= 

# firebase service account credentials
FIREBASE_TYPE=
FIREBASE_PROJECT_ID= 
FIREBASE_PRIVATE_KEY_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL= 
FIREBASE_CLIENT_ID=
FIREBASE_AUTH_URI= 
FIREBASE_TOKEN_URI= 
FIREBASE_AUTH_PROVIDER_X509_CERT_URL= 
FIREBASE_CLIENT_X509_CERT_URL= 
FIREBASE_UNIVERSE_DOMAIN= 

# google credentials
GOOGLE_CLIENT_ID= 
GOOGLE_CLIENT_SECRET=
GOOGLE_ACCESS_TOKEN=
APP_USER=
APP_PASSWORD=
