@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes cinematicWave {
    0% {
      background-position: 0% 50%;
    }
    25% {
      background-position: 50% 75%;
    }
    50% {
      background-position: 100% 50%;
    }
    75% {
      background-position: 50% 25%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .cinematic-navbar {
    background: linear-gradient(
      135deg,
      #6a0dad,
      #3c4205, 
      #53fd31, 
      #5d02ee  
    );
    background-size: 400% 400%; 
   
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  }
  
  